.DiceAmount, .DiceVisual {
    margin-left: 25%;
    margin-right: 25%;
}

#TopHeader {
    font-size: 50px;
    margin-top: 5%;
}

h1, h2, .rollDice, .DiceAndRespectiveNumber, .TotalValue {
    text-align: center;
}


img {
    margin-left: 20px;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

.BackToHomePage {
    margin-left: 10px;
    margin-top: 10px;
}

p {
    font-size: 40px;
}

.DiceTotal {
    font-size: 50px;
    color: red;
}

.rollDiceDiv {
    margin-left: 25%;
    margin-bottom: 20px;
}

.DiceFace {
    margin-left: 10%;
}

#NameTag {
    font-size: 25px;
}