body {
    font-family: 'Open Sans', sans-serif;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
}

.jumbotron {
    margin-top: 2rem; /* Hard-coded values for now */
    margin-left: 25%;
    margin-right: 25%;
    background: gainsboro;
}